body {
    background-color: #FEF7DC;
}

.buffer {
    height: 70px;
}

.void {
    background-color: #A19882;
    height: 50px;
}

.folder-back {
    background-color: #E6DDC6;
    height: 50px;
    text-align: center;
}

.folder-tab {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin: 0 2.5px;
    height: 50px;
}

.trangle {
    margin-top: 10px;
    margin-left: -5px;
    background-color: #A19882;
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 40px 0 0 40px;
    border-color: transparent transparent transparent #E6DDC6;
}

.trangle2 {
    margin-bottom: 10px;
    margin-left: -29px;
    background-color: #FEF7DC;
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 40px 40px 0 0;
    border-color: #8FBB76 transparent transparent transparent;
}

.tab-text {
    margin-top: 13px;
    font-weight: 600;
    color: inherit;
    text-decoration: inherit;
    display: block;
}

.tab-text:hover {
    color: #FEF7DC;
}

.main-tab-text {
    margin-top: -40px;
    font-size: 1.5rem;
    font-weight: 600;
    color: inherit;
    text-decoration: inherit;
    display: block;
}

.main-tab-text2 {
    margin-top: 0px;
    font-size: 1.5rem;
    font-weight: 600;
    color: inherit;
    text-decoration: inherit;
    display: block;
}

.main-tab-text:hover {
    color: #FEF7DC;
}

.main-tab-text-hover:hover {
    color: #A19882;
}

#top-div {
    text-align: center;
    padding-top: 160px;
    background-color: #FEF7DC;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
}

#page-div {
    text-align: center;
    padding: 5rem;
    background-color: #FEF7DC;
    font-family: "Work Sans", sans-serif;
    border-radius: 45px;
}

#page-border {
    padding: 70px 30px;
}

.socials {
    color: inherit;
    text-decoration: inherit;
    font-size: 2rem;
}

.socials:hover {
    color: #C2B8A3;
}


/* Colors */


/* Color pallet -> https://www.schemecolor.com/apple-retro-logo.php */

.mac1 {
    color: #8FBB76;
}

.mac2 {
    color: #FCC76A;
}

.mac3 {
    color: #F4A755;
}

.mac4 {
    color: #E06C79;
}

.mac5 {
    color: #8A5F9E;
}

.mac6 {
    color: #519FB0;
}

.bgmac1 {
    background-color: #8FBB76;
}

.bgmac2 {
    background-color: #FCC76A;
}

.bgmac3 {
    background-color: #F4A755;
}

.bgmac4 {
    background-color: #E06C79;
}

.bgmac5 {
    background-color: #8A5F9E;
}

.bgmac6 {
    background-color: #519FB0;
}